@model IEnumerable<wb6.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>@Html.Encode("Unseen by ") @Html.Encode(Model.Count())</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem =>item.UserName)
            </td>
        </tr>
    }

</table>
